# Ignore almost everything
*

!README.md

!.tmux.conf
!.xinitrc
!.gitignore
!.vimrc
!.zshrc
!.zimrc

!/.config/

!/.config/polybar/
!/.config/polybar/*

!/.config/ranger/
!/.config/ranger/*
!/.config/ranger/colorschemes/*

!.Xmodmap
!/.i3/
!/.i3/*

!/.vim/
!/.vim/*
!/.vim/colors
!/.vim/colors/*
# !/.vim/autoload
# !/.vim/autoload/*
