# Ignore almost everything
*

!.tmux.conf
!.xinitrc
!.gitignore
!.vimrc
!.zshrc
!.zimrc

!/.config/

!/.config/polybar/
!/.config/polybar/*

!.Xmodmap
!/.i3/
!/.i3/*

!/.vim/
!/.vim/*
!/.vim/colors
!/.vim/colors/*
# !/.vim/autoload
# !/.vim/autoload/*
