# Ignore almost everything
*
!.tmux.conf
!.xinitrc
!.gitignore
!.vimrc
!.zshrc
!.zimrc

!.Xmodmap
!/.i3/
!/.i3/*

!/.vim/
!/.vim/*
!/.vim/colors
!/.vim/colors/*
!/.vim/autoload
!/.vim/autoload/*
!/.vim/bundle
!/.vim/bundle/*
!/.vim/bundle/*/*
!/.vim/bundle/*/*/*
!/.vim/bundle/*/*/*/*
!/.vim/bundle/*/*/*/*/*
!/.vim/bundle/*/*/*/*/*/*
!/.vim/bundle/*/*/*/*/*/*/*


